<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<header th:replace="fragments :: header"></header>

<body class="container">
<form method="POST" action="/upload/uploadFile" enctype="multipart/form-data">
    <label>Select a File to Upload:
        <input class="rounded" type="file" name="file">
    </label>

    <label>File Description:
        <input type="text" class="rounded" id="subject" name="subject" placeholder="Subject">
    </label>

    <input type="submit" class="btn btn-primary" value="Upload">Click to Upload File<br/>
</form>

<footer th:replace="fragments :: site-footer"></footer>

</body>
</html>