body, html {
    font-family: "minion-pro", sans-serif;
    margin: 0;
    height: 100%;
    color: gray;
    line-height: 1.8;
    background-image: url("images/self_dark_scale.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    height: auto;
    max-width: 100%;
}

.register-container {
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
}

.header {
  z-index: 1000;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: transparent;
  color: #ececec;
  -webkit-font-smoothing: antialiased;
}

.header h1 {
  font-size: 40px;
}

.form-control, .form-group {
    margin: 3px;
    padding: 10px;
    cursor: pointer;
}

.navbar a {
  float: left;
  display: block;
  color: gray;
  text-align: left;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  text-align: right;
  float: right;
}

.navbar a:hover {
  text-shadow: white;
  color: white;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: transparent;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: pink;
}

.wide {
    letter-spacing: 10px;
}
.hover-pointer {
    cursor: pointer;
}

.center {
    text-align: center;
}

.card {
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
}

* {
  box-sizing: border-box;
}

.logo{
    align: center;
    display: flex;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Parallax Effect */

.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/* First image (Introduction) */

.bgimg-1 {
  background-image: "images/self.jpg";
  min-height: 100%;
}

*/
/* Second image (Portfolio) */

.bgimg-2 {
  background-image: "images/weeping_vintage.jpg";
  min-height: 400px;
}

*/
/* Third image (Contact) */

.bgimg-3 {
  background-image: "images/whiskey_table.jpg";
  min-height: 400px;
}

*/
/* Parallax scrolling off for tablets and phones */

@media only screen and (max-device-width: 1600px) {

  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
