<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<header th:replace="fragments :: header"></header>

<body>
<div class="container">
    <div style="text-align:center">

        <p>If you are looking for a print or wanting to request an original design, </p>
    </div>
    <div class="row">
        <div class="column">
            <img src="Chocolate_Sawyer.jpg">
        </div>
        <div class="column">
            <form action="/action_page.php">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                <label for="country">Country</label>
                <select id="country" name="country">
                    <option value="uk">United Kingdom</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                </select>
                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Leave me a description or message.."></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
</body>
</html>