<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<body class="container">
<form method="POST" action="/gallery/uploadFile" enctype="multipart/form-data">
    <label>Select a File to Upload:
        <input type="file" name="file">
    </label>

    <label>File Description:
        <input type="text" name="description">
    </label>



    <input type="submit" class="btn btn-primary" value="Upload"> Upload File.
</form>
</body>
</body>
</html>