<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="head">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>A BIZARRE OF ART</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" th:href="@{/styles.css}">
    </div>
</head>

<body>
<header th:fragment="header">
    <div id="logged-in-info" style="text-align: right">
                <span>
                    <h3>Welcome, ${user.username}</h3>
                <form method="post" th:action="@{/user/logout}">
                    <input type="submit" value="Logout"/>
                </form>
                </span>
    </div>
    <body>
    <nav th:fragment = "navigation">
        <ul class="navbar a">
            <ul><a class="nav-link" href="/">HOME</a></ul>
            <ul><a class="nav-link" href="/profile/upload/ + ${user.id}">PROFILE(upload)</a></ul>
            <ul><a class="nav-link" href="/gallery">GALLERY</a></ul>
            <ul><a class="nav-link" href="/profile">PROFILE(temp)</a></ul>
            <ul><a class="nav-link" href="/login">LOGIN</a></ul>
        </ul>
        <br/>
    </nav>
    </body>
</header>

<footer th:fragment="site-footer">
</footer>
</html>