<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="head">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>J. VANBLARCUM</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" th:href="@{/styles.css}">
    </div>
</head>

<body>
<header th:fragment="header">
    <body>
    <nav th:fragment = "navigation">
        <h1 th:text = "${title}">J. VANBLARCUM</h1>
        <ul class="navbar a">
            <ul><a class="nav-link" href="/">HOME</a></ul>
            <ul><a class="nav-link" href="/bio">BIO</a></ul>
            <ul><a class="nav-link" href="/gallery">GALLERY</a></ul>
            <ul><a class="nav-link" href="../#contact">CONTACT</a></ul>
            <ul><a class="nav-link" href="/forum">FORUM</a></ul>
            <ul><a class="nav-link" href="/login">LOGIN</a></ul>
        </ul>
        <br/>
    </nav>
    </body>
</header>
</html>