<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'A Bizarre of Artists' + ${title == null ? '' : ' :: ' + title}">A Bizarre of Artists</title>
</head>

<body>
<header th:fragment="header">
    <div id="logged-in-info" style="text-align: right">
                <span>
                    <h3>Welcome, {user.username}</h3>
                <form th:action="@{/logout}">
                    <input type="submit" value="Logout"/>
                </form>
                </span>
    </div>
    <body>
    <div th:fragment="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar a">
                <a th:href="@{/}" class="navbar-brand">A Bizarre of Artists</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul><a th:href="@{/gallery}">gallery</a></ul>
              <ul th:if = "user != null"><a th:href="@{/profile/{user.id}}">profile</a></ul>
              <ul><a th:href="@{/profile/upload}">upload</a></ul>
              <ul><a th:href="@{/login}">login</a></ul>
            </div>
        </div>
    </div>
    </body>
</header>

<footer th:fragment="site-footer">
</footer>
</html>