<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<header th:replace="fragments :: header"></header>

<body>
<section>
<div class="logo">
<img th:src="@{images/aware_logo_tulip_gray.png}">
</div>
</section>

<section>
    <a name="contact"></a>
<div class="container" style="background: transparent;">
    <div style="text-align:center">
        <div th:text="${date}"></div>
        <p>If you are looking for a print or wanting to request an original design, feel free to contact me</p>
    </div>
    <div class="row">
        <div class="column">
            <img class="size: 75%;" th:src="@{images/Blue_Cherry.jpg}">
        </div>
        <div class="column">
            <form action="/action_page.php">
                <label for="fname">First Name</label>
                <input class="rounded" type="text" id="fname" name="firstname" placeholder="Your name..">
                <label for="lname">Last Name</label>
                <input class="rounded" type="text" id="lname" name="lastname" placeholder="Your last name..">
                <label for="country">Country</label>
                <select class="rounded" id="country" placeholder="Country..">
                    <option value="uk">United Kingdom</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                </select>
                <label for="subject">Subject</label>
                <textarea class="rounded"  id="subject" name="subject" placeholder="Leave me a description or message.."></textarea>
                <input class="rounded"  type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
</body>

<footer th:replace="fragments :: site-footer"></footer>
</html>